---
// component imports
import PostCard from '../../components/PostCard.astro';
import MainLayout from '../../layouts/MainLayout.astro';

const allPosts = await Astro.glob('./*.md');
---

<MainLayout title="My Blog">
	<section
		class="container"
		aria-label="New Blog Post">
		<h1 class="h1">New Blog Post</h1>
	</section>

	<div class="post-container">
		{
			allPosts.map((post) => (
				<PostCard
					frontmatter={post.frontmatter}
					url={post.url}
					tagType="h2"
				/>
			))
		}
	</div>
</MainLayout>
